*.iml
.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Kotlin
*.class

# Android build output
/app/build/
/build/
/decoder_ffmpeg/build/
decoder_ffmpeg/src/main/jni/ffmpeg
